@use "variables";

$videoRatio: 75;

.edit-video {
  height: 100vh;
}

.ev-content {
  @include variables.flex-temp;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(60px);
  position: relative;
  width: auto;
  margin: 15px 25px;
  z-index: 5;
  height: 12.5px * $videoRatio;

  .ev-content-child-video {
    @include variables.flex-temp;
    width: (16px * $videoRatio);
    margin-right: auto;

    .ev-ccv-dir-crumbs {
      margin-right: auto;
      font-size: larger;
    }

    .ev-ccv-content {
      @include variables.flex-temp;
      margin-top: 30px;
      width: 100%;

      .ev-ccv-c-crumbs {
        font-size: 25px;
        margin-right: auto;
        margin-left: 2px;
      }

      .ev-ccv-c-inner {
        width: 100%;

        .player__wrapper {
          position: relative;
          height: 9px * $videoRatio;
        }

        .video_container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        .player {
          // border: 2px solid #7b2cbf;
          width: 100%;
          // object-fit: cover;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.ev-content-child-log {
  width: 40%;
  height: 11px * $videoRatio;
  @include variables.flex-temp;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // align-items: flex-start;

  // background-color: blue;

  .ev-ccl-wrap {
    @include variables.flex-temp;
    width: 90%;
    height: 100%;
    margin-left: auto;
  }

  .ev-log-title {
    margin-left: 8%;
    margin-right: auto;
  }

  .ev-log-list {
    @include variables.flex-temp;
    justify-content: flex-start;
    border: 1px solid #ebebeb;
    width: 100%;
    height: 100%;

    .ev-log-list-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 10px 0px;
    }

    .ev-log-list-item * {
      // display: flex;
      // flex-direction: row;
      flex: 1;
      text-align: center;
      align-items: center;
    }

    .ev-lli-title {
      flex: 2;
    }
  }
}
